#header_projet/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


/********************************
		Theme node projet
*********************************/

h1{
	text-shadow:0 1px 0 #BDC1CA;
}

.node-projet h1{
	padding:0;
	margin:0;
}

.node-projet .content{
    color: #606060;
    margin-top: 43px;
    padding: 10px 0;
}

#header_projet{
    background-color: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
    height: 46px;
    margin-top: -44px;
    position: fixed;
    width: 960px;
    z-index: 1;
}

#projets_navigator{
 	height: 32px;
    margin-top: -34px;
    overflow: hidden;
    position: relative;
}


#previous_container{
	background:url('../img/home-arrows.png') no-repeat 0 6px;
	height:32px;
	background-position: 0 -173px;
	float:left;
	width:50%;
}

#next_container{
	background: url('../img/home-arrows.png') no-repeat;
	height: 32px;
	background-position: right -84px;
	float: right;
	width: 50%;
}



#previous{
	position:absolute;
	left:20px;
	top:6px;
	text-decoration:none;
	height:50px;
	text-align:left;
}

#next{
	position:absolute;
	top:6px;
	right:20px;
	text-decoration:none;
	height:50px;
	text-align:right;
}

.base_text{
	float:left;
	width:100%;
	height:25px;
	text-decoration:none;
	color:#606060;
}

.next, .previous{
	height:25px;
	color:black;
}

.next a:link,.next a:visited, .previous a:link, .previous a:visited{
	color:black;
	text-decoration:none;
}

.left_details{
    float: left;
    padding: 20px 20px 20px 0;
	margin-top: -10px;
	width:251px;
	border-bottom:1px solid #E0E0E0;
}

.left_details img:hover{
border:1px solid #E0E0E0;
}

.left_details .field-name-field-projet-categorie a{
	color:#000;
	text-decoration:none;
}

.left_details .field-name-field-projet-categorie a:hover{
	text-decoration:underline;
}

.left_details .field-name-field-projet-url a{
    background-color: black;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}



.left_details .field-name-field-projet-url a:hover{
	text-decoration: underline;
}

.left_details h2{
	margin:0;
	padding:5px 0;
}

.left_details div.field-name-field-projet-categorie div.field-item{
	background:url('../img/tag.png') no-repeat scroll 0 0 transparent;
	padding-left:26px;
}

.left_details div.field-name-field-projet-techno div.field-item{
	background:url('../img/bullet-black.png') no-repeat scroll 0 0 transparent;
	padding-left:26px;
}

#preview .field-name-field-projet-url{
	clear:both;
}

#preview a{
background-color: black;
color: white;
display: block;
padding: 10px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
}

#preview a:hover{
	text-decoration:underline;
}

#preview{
	float: right;
	border-left: 1px solid #E0E0E0;
	margin-top: -10px;
	margin-bottom:-10px;
	width:666px;
	padding:20px 2px 20px 20px;
}

.field-item img:hover{
	border:1px solid #E0E0E0;
}

.field-name-field-projet-captures .field-items{
	width:666px;
}

.field-name-field-projet-captures .field-item{
  	background: url("/sites/all/themes/postitme/img/pattern.png") repeat scroll 0 0 white;
    display: block;
    float: left;
    margin-bottom: 10px;
    padding: 0;
    position: relative;
    width: 100%;
}

.field-name-field-projet-captures .field-item img{
	display:block;
}

.left_details .field-name-body a{
	color:#606060;
	border-bottom:1px dotted #606060;
	text-decoration:none;
	font-weight:italic;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}



#page #content h1{
	text-align:center;
	font-family:'ArialBlackRegular';
	padding-top:3px;
	font-size:24px;
}

body,html{
	/*height:100%;*/
}

body.not-front #page #content .section{
	/*border-top:1px solid #E0E0E0;*/
	/*display:none;*/
	/*overflow:hidden;*/
}

/* DRUPAL INFOS */
.node-home img.drupal{
	float:left;
	margin-top:8px;
	margin-right:10px;
}


#drupal_infos{
	display:inline-block;
	width:100%;
	padding:10px 0 30px;
}

#infos_text{
	float:left;
	width:726px;
}

#page #infos_text h1{
	text-align:left;
	margin-left:-27px;

}

#drupal_infos .line1,#drupal_infos .line2,#drupal_infos .line3,#drupal_infos .line4,#drupal_infos .line5,#drupal_infos .line6{
	display:block;
}


#drupal_infos .line2{
	margin-left:7px;
}

#drupal_infos .line3{
	margin-left:13px;
}

#drupal_infos .line4{
	margin-left:17px;
}

#drupal_infos .line5{
	margin-left:13px;
}

#drupal_infos .line6{
	margin-left:7px;
}

/* ASSOCIE AVEC */

#page #associate h1{
	text-align:left;
}

#associate{
	clear:left;
	border-top:1px solid #E0E0E0;
	display:inline-block;
	width:100%;
	padding:10px 0;
}

#sayyes,#famous{
	background: url("../img/shadow_big.png") no-repeat scroll center 213px transparent;
	width:207px;
	height:257px;
	float:left;
	margin-left:170px;
	position:relative;
}

#sayyes span,#famous span{
		bottom: 0;
	    left: 21px;
	    position: absolute;
}



.sameProject .folio_img a{
	padding:0;
	margin:0;
}



.view-home-projet .view-content .views-row{
	float:left;
	display:block;
	margin:0 0 15px;
	position:relative;
	width:240px;
	height:245px;
}

.sameProject span{
    background: url("../img/thumb_overlay.png") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 245px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 240px;
}

.sameProject span:hover{
	background: url("../img/thumb_overlay.png") no-repeat scroll left top transparent;
}

.sameProject div.shadow{
    background: url("../img/shadow.png") no-repeat scroll center bottom transparent;
    bottom: 0;
    height: 36px;
    position: absolute;
    width: 203px;
}

.sameProject .views-row div.folio_img:hover img, .sameProject div.folio_img:hover span{
	/*margin-top:-20px;*/
}


.view-home-projet .view-content .views-field-term-node-tid{
		background-color: #424242;
	    color: white;
	    display: none;
	    text-transform: uppercase;
}

.sameProject{
		padding: 21px 20px;
	    position: relative;
	    width: 201px;
		height:202px;
		margin-bottom:15px;
}





/********************************
		Fin Theme node projet
*********************************/


/********************************
			About
*********************************/
.node-propos{
	margin-top:20px;
}

.node-propos div#left_infos{
	float: left;
	width: 517px;
	font-size:12px;
	padding:0px 10px;
}

#content div#left_infos h1{
	font-size:15px;
	text-align:left;
	font-family:Arial,Helvetica,"Nimbus Sans L",sans-serif;
	text-shadow:none;
}

.node-propos div#right_infos{
	float:right;
}

/********************************
		FIN About 
*********************************/

.node /* Node wrapper */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node-promoted /* A node that has been promoted to the front page */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page /* Page content node */ {
}

.node-article /* Article content node */ {
}

h2.node-title /* Node title */ {
}

.node .user-picture /* The picture of the node author */ {
}

.node .submitted /* The "posted by" information */ {
}

.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}

