/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#black_banner{
    background: none repeat scroll 0 0 black;
    height: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#page-wrapper {
	height:100%;
}

#page {
	height:100%;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*******************************************************************************
						  HEADER
*******************************************************************************/

@font-face {
    font-family: 'ArialBlackRegular';
    src: url('../fonts/arial_black-webfont.eot');
    src: url('../fonts/arial_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_black-webfont.woff') format('woff'),
         url('../fonts/arial_black-webfont.ttf') format('truetype'),
         url('../fonts/arial_black-webfont.svg#ArialBlackRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#header {
		background: url("../img/pattern.png") repeat scroll 0 0 white;
		background-color: white;
	    position: fixed;
	    top: 20px;
	    width: 960px;
	    z-index: 1;
		border-right:1px solid #E0E0E0;
		height:80px;
		border-bottom:1px solid #E0E0E0;
		overflow:hidden;
}

#header a,#header a:active,#header a:visited{
	color:black;
	text-decoration:none;
}

#header div.section {
}

#header span.logo{
	font-family:'ArialBlackRegular';
	font-size:48px;
	position:absolute;
	top:22px;
	left:10px;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;

}

#header span.logo span{
	position:relative;
}

#header span.logo span.char1:hover{
	top:-5px;
}

#header span.logo span.char2:hover{
	top:-1px;
}

#header span.logo span.char3:hover{
	top:-3px;
}

#header span.logo span.char4:hover{
	top:-2px;
}

#header span.logo span.char5:hover{
	top:-5px;
}

#header span.logo span.char6:hover{
	top:-4px;
}

#header span.logo span.char7:hover{
	top:-1px;
}

#header span.logo span.char8:hover{
	top:-2px;
}

#header div.region-header{
	float:right;
	width:100%;
	border-bottom:1px solid #E0E0E0;
}

#header div.region-header-contact{
	clear:both;
	
}

#skype{
	   background: url("../img/skype.png") no-repeat scroll 0 4px transparent;
    padding-left: 106px;
}

#header ul.menu{
	padding:0;
	margin:0;
	float:right;
}

#header ul.menu li{
		
	    border-left: 1px solid #E0E0E0;
	    display: block;
	    float: left;
	    height: 80px;
	    line-height: 80px;
	    list-style: none outside none;
}

#header ul.menu li a{
	color:#606060;
	padding:32px 40px;
	background-color: white;
	text-decoration:none;
}

/*
#header ul.menu li a:hover{
	color:white;
	background-color: black;
}
*/

#header ul.menu li a.active{
	color:white;
	background-color: black;
}

#header ul.menu li span{
	color:#606060;
	padding:32px 40px;
	cursor:pointer;
	background-color: white;
}

#header ul.menu li span.active{
	color:white;
	background-color: black;
}

#header ul.menu li span:hover{
	color:white;
	background-color: black;
}

#black_banner{
	position:fixed;
	width:100%;
	height:20px;
	z-index:2;
}

#lab_wrapper ul{
	list-style-type:none;
	margin:0;
}

#lab_wrapper ul li{
	float:left;
	border:1px solid #FFF;
}

#lab_wrapper ul li:hover{
	border:2px solid #FFF;
}

#lab_wrapper
{
height:20px;
position:relative;
}

#lab_container
{
	background: none repeat scroll 0 0 black;
    height: 20px;
    top: 0;
    width: 100%;
	overflow:hidden;
	position:relative;
	height:100%;
}

#lab_content{
    color: #FFFFFF;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
	bottom:10px;
}

#lab_button{
	width:73px;
	height:80px;
	background:url("../img/sprite.png") no-repeat scroll 0 0 transparent;
	position:fixed;
	right:0px;
	top:11px;
	margin-bottom:-80px;
	cursor:pointer;
}

#lab_button.active{
	background-position:-74px 0;
}

#lab_content a{
	color:#FFF;
}
/*******************************************************************************
						FIN HEADER
*******************************************************************************/

/*******************************************************************************
						CONTACT
*******************************************************************************/

body.node-type-projet #contact{
    background-color: black;
    clear: both;
    color: white;
    height: 360px;
    position: absolute;
    top: 128px;
    width: 100%;
}

#contact
{
    background-color: black;
    clear: both;
    color: white;
    width: 100%;
	position:relative;
	height:360px;
}

#contact #contact_intro{
    float: left;
    font-family: 'ArialBlackRegular';
    font-size: 29px;
    left: 34px;
    line-height: 39px;
    position: absolute;
    top: 20px;
}

#contact_intro ul{
	margin:0 0 0 28px;
	padding:0;
}

#header form {
	width:351px;
	float:right;
	padding:0 20px 20px 20px;
	border-left:1px solid #E0E0E0;
	display:inline-block;
	height:100%;
	background:url("../img/pattern_white.png") repeat scroll 0 0 transparent;
}

#header form input{
	width:252px;
	float:right;
}

#header form input.form-submit{
    color: white;
    cursor: pointer;
    float: right;
    width: 80px;
	border:1px solid white;
	font-family:'ArialBlackRegular';
	background-color:black;
	font-size:11px;
}

#header form input.form-submit:hover{
    color: black;
	background-color:white;
}

#loader{
 	background: url("../img/ajax-loader.gif") no-repeat scroll 0 0 transparent;
    height: 13px;
    margin: -13px auto 0;
    position: relative;
    top: 50%;
    width: 50px;
}

.form-textarea-wrapper textarea{
	height:160px;
}

.form-item, .form-actions {
    margin-bottom: 1em;
    margin-top: 1em;
}

label {
    display: inline-block;
    font-weight: bold;
}

.form-textarea-wrapper textarea {
    -moz-box-sizing: border-box;
    display: block;
    margin: 0;
    width: 100%;
}

/*******************************************************************************
						FIN CONTACT
*******************************************************************************/

/*******************************************************************************
						FOOTER
*******************************************************************************/
div.region-footer{
	height:80px;
	color:white;
	border-right:1px solid #E0E0E0;
	position:absolute;
	width:960px;
	background:url("../img/pattern_white.png") repeat scroll 0 0 black;
	background-color:black;
}

div.region-footer #logo_footer{
    font-family: 'ArialBlackRegular';
    font-size: 48px;
    left: 10px;
    position: relative;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888, 0 3px 0 #777777, 0 4px 0 #666666, 0 5px 0 #555555, 0 6px 0 #444444, 0 7px 0 #333333, 0 8px 7px #001135;
    top: 20px;
}

div.region-footer #footer_line{
	position:absolute;
	right:60px;
	top:30px;
}
/*******************************************************************************
						FIN FOOTER
*******************************************************************************/



#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

body.front #main-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position:relative;
	margin:55px auto 0px;
}


#main-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position:relative;
	margin:102px auto 0px;
}

#main-wrapper .region{
}

#main-wrapper .region-folio-home{
	border-bottom:1px solid #E0E0E0;
	clear:both;
}

body.not-front #main-wrapper .region-folio-home, #main-wrapper{
	border:none;
	clear:both;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html .clearfix {
    height: 1%;
}
:first-child + html .clearfix {
    min-height: 1%;
}



#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}
