/**
 * @file
 * Views Styling
 */


/*******************************************************************************
						  VIEW FOLIO HOME
*******************************************************************************/
.view-home-projet{
	margin-top:44px;
	
}

.view-home-projet .view-content{
	width:960px;
	padding:0;
	margin:0;
	margin-top:25px;
	display:inline-block;
}

.view-home-projet .view-content .views-row{
	float:left;
	display:block;
	margin:0 0 15px;
	position:relative;
	width:240px;
	height:245px;
}

.view-home-projet .view-content .views-row span{
    background: url("../img/thumb_overlay.png") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 245px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 240px;
}

.view-home-projet .view-content .views-row span:hover{
	background: url("../img/thumb_overlay.png") no-repeat scroll left top transparent;
}

.view-home-projet .view-content .views-row div.shadow{
    background: url("../img/shadow.png") no-repeat scroll center bottom transparent;
    bottom: 0;
    height: 36px;
    position: absolute;
    width: 203px;
}

.view-home-projet .view-content .views-row div.folio_img:hover img, .view-home-projet .view-content .views-row div.folio_img:hover span{
	/*margin-top:-20px;*/
}


.view-home-projet .view-content .views-field-term-node-tid{
		background-color: #424242;
	    color: white;
	    display: none;
	    text-transform: uppercase;
}

.views-field-field-projet-miniature{
	padding:21px 20px
}


/*******************************************************************************
						  FIN VIEW FOLIO HOME
*******************************************************************************/


/*******************************************************************************
						  VIEW FILTER HOME
*******************************************************************************/


div.view-cat-gories .views-row{
	float:left;
	margin-right:10px;
}

div.view-cat-gories .views-row a{
	text-decoration:none;
	color:#000;
	text-shadow:0 1px 0 #BDC1CA;
}

div.view-cat-gories .views-row a:hover{
	border-bottom:1px solid #cccccc;
}

div.view-cat-gories .views-row a.active{
	border-bottom:1px solid #cccccc;
}


/*******************************************************************************
						  FIN VIEW FILTER HOME
*******************************************************************************/