html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}

.view-home-projet {
    margin-top: 68px
}

.view-home-projet .view-content {
    width: 960px;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    display: inline-block
}

.view-home-projet .view-content ul {
    padding: 0;
    margin: 0;
}

.view-home-projet .view-content .views-row, .sameProject {
    float: left;
    display: block;
    margin: 0 0 15px;
    position: relative;
    width: 240px;
    height: 245px
}

.views-field-field-projet-miniature span {
    background: url("../img/thumb_overlay.png") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 245px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 240px
}

/*.view-home-projet .view-content .views-row span:hover {
    background: url("../img/thumb_overlay.png") no-repeat scroll left top transparent
}*/

.views-field-field-projet-miniature .shadow {
    background: url("../img/shadow.png") no-repeat scroll center bottom transparent;
    bottom: 0;
    height: 36px;
    position: absolute;
    width: 203px
}

.view-home-projet .view-content .views-field-term-node-tid {
    background-color: #424242;
    color: white;
    display: none;
    text-transform: uppercase
}

.views-field-field-projet-miniature {
    padding: 21px 20px
}

/********************************************
    Catégorie de filtre sur la page d'accueil
********************************************/
div.view-cat-gories ul {
    margin: 0;
}

div.view-cat-gories .views-row {
    float: left;
    margin-right: 10px;
    list-style: none;
    margin-bottom: 10px;
}

div.view-cat-gories .views-row a {
    text-decoration: none;
    color: #000;
    text-shadow: 0 1px 0 #bdc1ca
}

div.view-cat-gories .views-row a:hover {
    border-bottom: 1px solid #ccc
}

div.view-cat-gories .views-row a.active {
    border-bottom: 1px solid #ccc
}

/*********************************************
    Fin Catégorie de filtre sur la page d'accueil
*********************************************/

#page-wrapper, .region-bottom {
    margin-left: auto;
    margin-right: auto;
    width: 960px
}

#main-wrapper {
    position: relative
}

#content, .no-sidebars #content {
    float: left;
}

#content .section {
    margin: 0;
    padding: 0
}

#navigation {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: -100%;
    padding: 0;
    height: 5em
}

#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, .region-footer, .region-bottom {
    overflow: visible;
    word-wrap: break-word
}

#header_projet h1 {
    text-shadow: 0 1px 0 #bdc1ca
}

.node-projet h1 {
    padding: 0;
    margin: 0
}

.node-projet .content {
    color: #606060;
    margin-top: 43px;
    padding: 10px 0;
}

#header_projet {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    height: 48px;
    margin-top: -45px;
    position: fixed;
    width: 960px;
    z-index: 1
}

#projets_navigator {
    height: 32px;
    margin-top: -34px;
    overflow: hidden;
    position: relative
}

#previous_container {
    background: url('../img/home-arrows.png') no-repeat 0 6px;
    height: 32px;
    background-position: 0 -173px;
    float: left;
    width: 50%
}

#next_container {
    background: url('../img/home-arrows.png') no-repeat;
    height: 32px;
    background-position: right -84px;
    float: right;
    width: 50%
}

.touch #previous, .touch #next {
    top: -21px;
}

#previous {
    position: absolute;
    left: 20px;
    top: 6px;
    text-decoration: none;
    height: 50px;
    text-align: left
}

#next {
    position: absolute;
    top: 6px;
    right: 20px;
    text-decoration: none;
    height: 50px;
    text-align: right
}

.base_text {
    float: left;
    width: 100%;
    height: 25px;
    text-decoration: none;
    color: #606060
}

.next, .previous {
    height: 25px;
    color: black
}

.next a:link, .next a:visited, .previous a:link, .previous a:visited {
    color: black;
    text-decoration: none
}

.left_details {
    float: left;
    padding: 20px 20px 20px 0;
    margin-top: -10px;
    width: 30%;
    border-bottom: 1px solid #e0e0e0;
    clear: left;
}

.left_details img {
    max-width: 100%;
    height: auto;
}

.left_details .field-name-field-projet-categorie a {
    color: #000;
    text-decoration: none
}

.left_details .field-name-field-projet-categorie a:hover {
    text-decoration: underline
}

.left_details .field-name-field-projet-url a {
    background-color: black;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}

.left_details .field-name-field-projet-url a:hover {
    text-decoration: underline
}

.left_details h2 {
    margin: 0;
    padding: 5px 0
}

.left_details div.field-name-field-projet-categorie a {
    background: url('../img/tag.png') no-repeat scroll 0 -3px transparent;
    padding-left: 26px
}

.left_details div.field-name-field-projet-techno div.field-item {
    background: url('../img/bullet-black.png') no-repeat scroll 0 0 transparent;
    padding-left: 26px
}

#preview .field-name-field-projet-url {
    clear: both
}

#preview a {
    background-color: black;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}

#preview a:hover {
    text-decoration: underline
}

#preview {
    float: right;
    border-left: 1px solid #e0e0e0;
    margin-top: -10px;
    margin-bottom: -10px;
    width: 70%;
    padding: 20px 2px 20px 20px
}

.field-name-field-projet-captures .field-items {
    width: 100%;
}

.field-name-field-projet-captures .field-item {
    background: url("/sites/all/themes/postitme/img/pattern.png") repeat scroll 0 0 white;
    display: block;
    float: left;
    margin-bottom: 10px;
    padding: 0;
    position: relative;
    width: 100%
}

.field-name-field-projet-captures .field-item img {
    display: block
}

.left_details .field-name-body a {
    color: #606060;
    border-bottom: 1px dotted #606060;
    text-decoration: none;
    font-weight: italic
}

#page #content h1 {
    text-align: center;
    font-family: 'ArialBlackRegular';
    padding-top: 5px;
    font-size: 24px
}

.node-home img.drupal {
    float: left;
    margin-top: 8px;
    margin-right: 10px
}

#drupal_infos {
    display: inline-block;
    width: 100%;
    padding: 10px 0 30px
}

#infos_text {
    float: left;
}

#page #infos_text h1 {
    text-align: left;
}

#drupal_infos .line1, #drupal_infos .line2, #drupal_infos .line3, #drupal_infos .line4, #drupal_infos .line5, #drupal_infos .line6 {
    display: block
}

#drupal_infos .line2 {
    margin-left: 7px
}

#drupal_infos .line3 {
    margin-left: 13px
}

#drupal_infos .line4 {
    margin-left: 17px
}

#drupal_infos .line5 {
    margin-left: 13px
}

#drupal_infos .line6 {
    margin-left: 7px
}

.associate p {
    margin-bottom: 22px;
}

/*
.sameProject .folio_img a {
    padding: 0;
    margin: 0
}

.sameProject span {
    background: url("../img/thumb_overlay.png") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 245px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 240px
}

.sameProject span:hover {
    background: url("../img/thumb_overlay.png") no-repeat scroll left top transparent
}

.sameProject div.shadow {
    background: url("../img/shadow.png") no-repeat scroll center bottom transparent;
    bottom: 0;
    height: 36px;
    position: absolute;
    width: 203px
}
*/

.view-home-projet .view-content .views-field-term-node-tid {
    background-color: #424242;
    color: white;
    display: none;
    text-transform: uppercase
}

/*
.sameProject {
    padding: 21px 20px;
    position: relative;
    width: 100%;
    height: 202px;
    margin-bottom: 15px;
}*/

.node-propos {
    margin-top: 20px
}

.node-propos div#left_infos {
    float: left;
    width: 569px;
    font-size: 12px;
    padding: 0 10px
}

#content div#left_infos h1 {
    font-size: 15px;
    text-align: left;
    font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
    text-shadow: none
}

.node-propos div#right_infos {
    float: right
}

.node-unpublished div.unpublished, .comment-unpublished div.unpublished {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word
}

body {
    margin: 0;
    padding: 0
}

#black_banner {
    background: none repeat scroll 0 0 black;
    height: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: #FFF;
}

#black_banner .inner {
    font-size: 10px;
    color: #FFF;
    line-height: 20px;
    width: 960px;
    margin: 0 auto;
}

.inner a {
    color: #FFF;
}

#skip-link a, #skip-link a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff
}

@font-face {
    font-family: 'ArialBlackRegular';
    src: url('../fonts/arial_black-webfont.eot');
    src: url('../fonts/arial_black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/arial_black-webfont.woff') format('woff'), url('../fonts/arial_black-webfont.ttf') format('truetype'), url('../fonts/arial_black-webfont.svg#ArialBlackRegular') format('svg');
    font-weight: normal;
    font-style: normal
}

#header {
    background: url("../img/pattern.png") repeat scroll 0 0 white;
    background-color: white;
    position: fixed;
    top: 20px;
    width: 960px;
    z-index: 1;
    border-right: 1px solid #e0e0e0;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden
}

#header > .section {
    height: 80px;
}

/*#header > * {
    height: 100%;
}*/

#header a, #header a:active, #header a:visited {
    color: black;
    text-decoration: none
}

#header span.logo {
    font-family: 'ArialBlackRegular';
    font-size: 48px;
    position: absolute;
    top: 22px;
    left: 10px;
    text-shadow: 0 1px 0 #999, 0px 2px 0 #888, 0px 3px 0 #777, 0px 4px 0 #666, 0px 5px 0 #555, 0px 6px 0 #444, 0px 7px 0 #333, 0px 8px 7px #001135
}

#header span.logo span {
    position: relative
}

#header span.logo span.char1:hover {
    top: -5px
}

#header span.logo span.char2:hover {
    top: -1px
}

#header span.logo span.char3:hover {
    top: -3px
}

#header span.logo span.char4:hover {
    top: -2px
}

#header span.logo span.char5:hover {
    top: -5px
}

#header span.logo span.char6:hover {
    top: -4px
}

#header span.logo span.char7:hover {
    top: -1px
}

#header span.logo span.char8:hover {
    top: -2px
}

#header div.region-header {
    float: right;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    height: 100%;
}

#header div.region-header-contact {
    clear: both
}

#skype {
    background: url("../img/skype.png") no-repeat scroll 0 4px transparent;
    padding-left: 106px
}

#header ul.menu {
    padding: 0;
    margin: 0;
    float: right
}

#header ul.menu li {
    border-left: 1px solid #e0e0e0;
    display: block;
    float: left;
    height: 80px;
    line-height: 80px;
    list-style: none outside none
}

#header ul.menu li a, #header ul.menu li span {
    color: #606060;
    padding: 32px 40px 31px 40px;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}

#header ul.menu li a.active, #header ul.menu li a:hover, #header ul.menu li span.active, #header ul.menu li span:hover {
    color: white;
    background-color: black
}

#header ul.menu li span:hover {
    color: white;
    background-color: black
}

#black_banner {
    position: fixed;
    width: 100%;
    height: 20px;
    z-index: 2
}

#lab_wrapper ul {
    list-style-type: none;
    margin: 0
}

#lab_wrapper ul li {
    float: left;
    border: 1px solid #FFF
}

#lab_wrapper ul li:hover {
    border: 2px solid #FFF
}

#lab_wrapper {
    height: 20px;
    position: relative
}

#lab_container {
    background: none repeat scroll 0 0 black;
    top: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%
}

#lab_content {
    color: #fff;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px
}

#lab_button {
    width: 73px;
    height: 80px;
    background: url("../img/sprite.png") no-repeat scroll 0 0 transparent;
    position: fixed;
    right: 0;
    top: 11px;
    margin-bottom: -80px;
    cursor: pointer
}

#lab_button.active {
    background-position: -74px 0
}

#lab_content a {
    color: #FFF
}

body.node-type-projet #contact {
    background-color: black;
    clear: both;
    color: white;
    height: 360px;
    position: absolute;
    top: 128px;
    width: 100%
}

#contact {
    background-color: black;
    clear: both;
    color: white;
    width: 100%;
    position: relative;
    height: 460px
}

#contact #contact_intro {
    float: left;
    font-family: 'ArialBlackRegular';
    font-size: 29px;
    left: 34px;
    line-height: 39px;
    position: absolute;
    top: 20px
}

#contact_intro ul {
    margin: 0 0 0 28px;
    padding: 0
}

#header form {
    width: 393px;
    float: right;
    padding: 0 20px 20px 20px;
    border-left: 1px solid #e0e0e0;
    display: inline-block;
    height: 100%;
    background: url("../img/pattern_white.png") repeat scroll 0 0 transparent
}

#header form input {
    width: 252px;
    float: right
}

#header form input.form-submit {
    color: white;
    cursor: pointer;
    float: right;
    width: 80px;
    border: 1px solid white;
    font-family: 'ArialBlackRegular';
    background-color: black;
    font-size: 11px
}

#header form input.form-submit:hover {
    color: black;
    background-color: white
}

#loader {
    background: url("../img/ajax-loader.gif") no-repeat scroll 0 0 transparent;
    height: 13px;
    margin: -13px auto 0;
    position: relative;
    top: 50%;
    width: 50px
}

.form-textarea-wrapper textarea {
    height: 160px
}

.form-item, .form-actions {
    margin-bottom: 1em;
    margin-top: 1em
}

label {
    display: inline-block;
    font-weight: bold
}

.form-textarea-wrapper textarea {
    -moz-box-sizing: border-box;
    display: block;
    margin: 0;
    width: 100%
}

div.region-footer {
    height: 80px;
    color: white;
    border-right: 1px solid #e0e0e0;
    position: absolute;
    width: 960px;
    background: url("../img/pattern_white.png") repeat scroll 0 0 black;
    background-color: black;
}

div.region-footer #logo_footer {
    font-family: 'ArialBlackRegular';
    font-size: 48px;
    left: 10px;
    position: relative;
    text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666, 0 5px 0 #555, 0 6px 0 #444, 0 7px 0 #333, 0 8px 7px #001135;
    top: 20px
}

div.region-footer #footer_line {
    position: absolute;
    right: 60px;
    top: 30px
}

#logo {
    float: left;
    margin: 0;
    padding: 0
}

#logo img {
    vertical-align: bottom
}

#name-and-slogan {
    float: left
}

h1#site-name, div#site-name {
    margin: 0;
    font-size: 2em;
    line-height: 1.5em
}

#site-name a:link, #site-name a:visited {
    color: #000;
    text-decoration: none
}

#site-name a:hover, #site-name a:focus {
    text-decoration: underline
}

.region-header {
    clear: both
}

body.front #main-wrapper {
    min-height: 100%;
    position: relative;
    margin: 55px auto 0
}

#main-wrapper {
    margin-top: 102px;
}

#main-wrapper .region-folio-home {
    border-bottom: 1px solid #e0e0e0;
    clear: both
}

body.not-front #main-wrapper .region-folio-home, #main-wrapper {
    border: 0;
    clear: both
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

* html .clearfix {
    height: 1%
}

:first-child + html .clearfix {
    min-height: 1%
}

body {
    font-size: 100%
}

#skip-to-nav, #page {
    font-size: .75em;
    line-height: 1.5em;
    font-size: .875em;
    line-height: 1.5em
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
    font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
    margin: .75em 0
}

h2 {
    font-size: 1.5em;
    margin: 1em 0
}

h3 {
    font-size: 1.3em;
    margin: 1.154em 0
}

h4, h5, h6 {
    font-size: 1.1em;
    margin: 1.364em 0
}

blockquote {
    margin-left: 2em;
    margin-right: 2em
}

.item-list ul {
    margin: 1.5em 0;
    padding: 0 0 0 2em
}

ul ul, ul ol, ol ol, ol ul, .item-list ul ul, .item-list ul ol, .item-list ol ol, .item-list ol ul {
    margin: 0
}

li {
    margin: 0;
    padding: 0
}

.item-list ul li, ul.menu li, li.expanded, li.collapsed, li.leaf {
    margin: 0;
    padding: 0
}

/* For modern browsers */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom: 1;
}

#mobile_contact {
    display: none;
}

#contact_mobile {
    display: none;
}

.field-name-field-projet-captures .field-item img {
    height: auto;
    max-width: 100%;
    width: auto;
}

/* Tablet Portrait Styles
=================================================*/
@media only screen and (min-width: 738px) and (max-width: 960px) {
    body.front #main-wrapper {
        margin-top: 105px;
    }

    .view-home-projet {
        margin-top: 0;
    }

    #lab_button {
        display: none;
    }

    #page-wrapper, .region-bottom, #header, #content {
        width: 100%;
    }

    #content, .no-sidebars #content {
        width: 100%;
        margin: 0;
    }

    .view-home-projet .view-content {
        width: 100%;
    }

    .view-cat-gories .views-row {
        font-size: 20px;
    }

    #header_projet {
        width: 100%;
    }

    .left_details {
        padding-left: 10px;
    }

    #preview {
        width: 70%;
    }

    #preview {
        padding-right: 20px;
    }

    .field-name-field-projet-captures .field-items {
        width: 100%;
    }

    .sameProject {
        width: 90%;
        height: inherit;
        margin-bottom: 0px;
    }

    .sameProject img {
        height: auto;
        max-width: 100%;
        width: auto;
        border: 1px solid #E0E0E0;
    }

    .sameProject span {
        display: none;
    }

    .sameProject div.shadow {
        display: none;
    }

    /* CONTACT */
    .node-propos div#left_infos {
        width: 95%;
        float: none;
    }

    .node-propos div#right_infos {
        float: none;
        padding: 10px;
        width: 100%;
    }

    .node-propos div#right_infos iframe {
        width: 95%;
    }

}

/* Mobile Wide Styles
=================================================*/
@media only screen and (min-width: 480px) and (max-width: 737px) {

    #preview {
        padding-right: 20px;
    }

    #page-wrapper, .region-bottom, #header, #content {
        width: 100%;
    }

    body.not-front #main-wrapper {
        margin-top: 50px;
    }

    .front .region-content {
        display: none;
    }

    #lab_button {
        display: none;
    }

    #page-wrapper, .region-bottom, #header, #content {
        width: 100%;
    }

    #content, .no-sidebars #content {
        width: 100%;
        margin: 0;
    }

    .view-home-projet .view-content {
        width: 98%;
    }

    body.front #main-wrapper {
        margin-top: 0px;
    }

    #lab_wrapper {
        display: none;
    }

    #black_banner {
        display: none;
    }

    #header {
        background: none repeat scroll 0 0 transparent;
        height: 190px !important;
        overflow: hidden;
        top: 0;
        position: inherit;
        border-right: 0px;
    }

    #contact {
        display: none;
    }

    .view-cat-gories {
        display: none;
    }

    a.home-link {
        width: 240px;
        margin: 0 auto;
        display: block;
    }

    #header span.logo {
        position: relative;
    }

    #header div.region-header {
        border-bottom: medium none;
        margin-top: 50px;
    }

    #header ul.menu {
        text-align: center;
        float: none;
    }

    #header ul.menu li a {
        background-color: transparent;
    }

    #header ul.menu li {
        border: 1px solid #E0E0E0;
        display: inline-block;
        float: none;
    }

    .region-content {
        /*display:none;*/
    }

    form {
        display: none;
    }

    .left_details {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    #header_projet {
        margin-top: -84px;
        width: 100%;
        height: inherit;
        position: relative;
    }

    .node-projet .content {
        margin-top: 0px;
    }

    .associate {
        display: none;
    }

    #page #content h1 {
        font-size: 14px;
    }

    .view-home-projet .view-content {
        padding-left: 10px;
    }

    .view-home-projet .view-content .views-row {
        width: 24%;
        height: 160px;
        margin: 1px;
    }

    .view-home-projet .view-content .views-row img {
        width: 100%;
        height: 100%;
    }

    .views-field-field-projet-miniature {
        padding: 0;
    }

    .shadow, .view-home-projet .view-content .views-row span {
        display: none;
    }

    .node-projet {
        margin-top: 40px;
    }

    #projets_navigator {
        margin-top: 0px;
    }

    #preview {
        width: 100%;
    }

    .field-name-field-projet-captures .field-items {
        width: 100%;
    }

    .field-name-field-projet-captures .field-item img {
        height: auto;
        max-width: 100%;
        width: auto;
    }

    #mobile_contact {
        display: block;
    }

    #header div.region-header {
        float: none;
    }

    .view-home-projet .view-content {
        height: 100%;
    }

    .view-home-projet {
        margin-top: 0px;
    }

    #projets_navigator {
        margin-top: 0px;

        height: inherit;
        position: inherit;
    }

    #previous_container, #next_container {
        float: none;
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    #next_container {
        float: right;
    }

    #preview {
        width: 100%;
    }

    #previous, #next {
        top: -19px;
    }

    #preview a {
        margin: 10px;
    }

    #preview .field-name-field-projet-url a {
        margin: 10px 0;
    }

    #header ul.menu li.last {
        display: none;
    }

    /* CONTACT */
    .node-propos div#left_infos {
        width: 95%;
        float: none;
    }

    .node-propos div#right_infos {
        float: none;
        padding: 10px;
        width: 100%;
    }

    .node-propos div#right_infos iframe {
        width: 95%;
    }

    #contact_mobile {
        display: block;
        padding: 10px;
        background: black;
        color: white;
        text-align: center;
        font-size: 20px;
    }

    #contact_mobile a {
        color: white;
    }
}

/* Mobile Narrow Styles
=================================================*/
@media only screen and (max-width: 479px) {

    #page-wrapper, .region-bottom, #header, #content {
        width: 100%;
    }

    body.not-front #main-wrapper {
        margin-top: 50px;
    }

    .front .region-content {
        display: none;
    }

    #lab_button {
        display: none;
    }

    #page-wrapper, .region-bottom, #header, #content {
        width: 100%;
    }

    #content, .no-sidebars #content {
        width: 100%;
        margin: 0;
    }

    .view-home-projet .view-content {
        width: 100%;
    }

    body.front #main-wrapper {
        margin-top: 0px;
    }

    #lab_wrapper {
        display: none;
    }

    #black_banner {
        display: none;
    }

    #header {
        background: none repeat scroll 0 0 transparent;
        height: 170px;
        overflow: hidden;
        top: 0;
        position: inherit;
        border-right: 0px
    }

    #contact {
        display: none;
    }

    .view-cat-gories {
        display: none;
    }

    a.home-link {
        width: 240px;
        margin: 0 auto;
        display: block;
    }

    #header span.logo {
        position: relative;
    }

    #header div.region-header {
        border-bottom: medium none;
        margin-top: 50px;
    }

    #header ul.menu {
        text-align: center;
        float: none;
    }

    #header ul.menu li {
        border: 1px solid #E0E0E0;
        display: inline-block;
        float: none;
    }

    #header ul.menu li.last {
        display: none;
    }

    .region-content {
        /*display:none;*/
    }

    form {
        display: none;
    }

    .left_details {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    #preview a {
        margin: 10px;
        box-sizing: border-box;
    }

    #header_projet {
        margin-top: -84px;
        width: 100%;
        height: inherit;
        position: relative;
    }

    .node-projet .content {
        margin-top: 0px;
    }

    .associate {
        display: none;
    }

    #page #content h1 {
        font-size: 14px;
    }

    .view-home-projet .view-content {
        padding-left: 10px;
    }

    .view-home-projet .view-content .views-row {
        width: 32%;
        height: 160px;
        margin: 1px;
    }

    .view-home-projet .view-content .views-row img {
        width: 100%;
        height: 100%;
    }

    .views-field-field-projet-miniature {
        padding: 0;
    }

    .shadow, .view-home-projet .view-content .views-row span {
        display: none;
    }

    .node-projet {
        margin-top: 40px;
    }

    #projets_navigator {
        margin-top: 0px;

        height: inherit;
        position: inherit;
    }

    #previous_container, #next_container {
        float: none;
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    #next_container {
        float: right;
    }

    #preview {
        width: 100%;
    }

    .field-name-field-projet-captures .field-items {
        width: 100%;
    }

    .field-name-field-projet-captures .field-item img {
        height: auto;
        max-width: 100%;
        width: auto;
    }

    /* CONTACT */
    .node-propos div#left_infos {
        width: 95%;
        float: none;
    }

    .node-propos div#right_infos {
        float: none;
        padding: 10px;
        width: 100%;
    }

    .node-propos div#right_infos iframe {
        width: 95%;
    }

    #previous, #next {
        top: -19px;
    }

    .view-home-projet .view-content {
        height: 100%;
        padding-left: 0px;
    }

    .view-home-projet {
        margin-top: 0px;
    }

    #contact_mobile {
        display: block;
        padding: 10px;
        background: black;
        color: white;
        text-align: center;
        font-size: 20px;
    }

    #contact_mobile a {
        color: white;
    }

}

.error {
    color: red;
    border: 1px solid red;
}

label.error {
    display: none !important;
}

.menu a, .menu span {
    transition-property: all;
    transition-duration: .2s; /* on aurait pu écrire 500ms également */
    transition-timing-function: ease-in;
}